<div class="text-center padded" id="newsletter">
      <h2>Want to join our team?</h2>
      <p>Leave us your mail and we'll get back to you.</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>
